<!-- <app-header></app-header> -->
<app-loading-spinner *ngIf="loadindSpinner"></app-loading-spinner>
<!-- <section id="hero"> 
  <h4>Trade-in-offer</h4>
  <h2>Supper value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & upto 70% off! </p>
  <button>Shop Now</button>
</section> -->
<div class="abhi">

  <!-- <div class="main" *ngIf="noData >= 1"> -->
  <!-- <div class="card" *ngFor="let product of productApiData">
    <img [src]="product.productImage" class="productImages" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.productName}}</h5>
      <p>{{product.productPrice}}</p>
      <div class="buttons">
        <a class="btn btn-primary" (click)="onCart(product)">Buy Now</a>
        <div class="adminBtn" *ngIf="localstorageLoginData.userType === 'Admin'">
          <div class="btnEdit">
            <img src="https://cdn-icons-png.flaticon.com/512/5996/5996860.png" alt="" (click)="onProductEdit(product)">
          </div>
          <div class="btnDelete">
            <img src="https://cdn-icons-png.flaticon.com/512/8848/8848798.png" alt=""
              (click)="onDeleteProduct(product)">
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <section id="product1" class="section-p1">
    <div class="abc">
      <div class="pro" *ngFor="let product of productApiData">
        <img [src]="product.productImage" alt="" class="productImages img-responsive"
          routerLink="/product-detail/{{ product.id }}" />
        <div class="des" routerLink="/product-detail/{{ product.id }}">
          <h5 class="product-name">{{ product.productName }}</h5>
          <h4>₹{{ product.productPrice }}</h4>
        </div>

        <div class="buttons">
          <div>
            <a class="btn add-to-cart" (click)="onCart(product)">Add To Cart <i
                class="fal fa-shopping-cart cart"></i></a>
          </div>
          <div class="adminBtn" *ngIf="localstorageLoginData.userType === 'Admin'">
            <div class="btnEdit">
              <img src="https://cdn-icons-png.flaticon.com/512/5996/5996860.png" alt=""
                (click)="onProductEdit(product)" />
            </div>
            <div class="btnDelete">
              <img src="https://cdn-icons-png.flaticon.com/512/8848/8848798.png" alt=""
                (click)="onDeleteProduct(product)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>


<!-- new dashboard -->

<!-- <section
  class="slider elementor-section elementor-top-section elementor-element elementor-element-0070829 elementor-section-height-min-height elementor-reverse-mobile elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
  data-id="0070829" data-element_type="section"
  data-settings='{"background_background":"classic","stretch_section":"section-stretched"}'
  style="width: 1447px; left: 0px">
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-712d9ba"
      data-id="712d9ba" data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-61eb578 elementor-widget elementor-widget-heading"
          data-id="61eb578" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
            <style>
              /*! elementor - v3.12.2 - 23-04-2023 */
              .elementor-heading-title {
                padding: 0;
                margin: 0;
                line-height: 1;
              }

              .elementor-widget-heading .elementor-heading-title[class*="elementor-size-"]>a {
                color: inherit;
                font-size: inherit;
                line-height: inherit;
              }

              .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                font-size: 15px;
              }

              .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                font-size: 19px;
              }

              .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                font-size: 29px;
              }

              .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                font-size: 39px;
              }

              .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                font-size: 59px;
              }
            </style>
            <h6 class="elementor-heading-title elementor-size-default">
              Plants
            </h6>
          </div>
        </div>
        <div class="elementor-element elementor-element-af1520f elementor-widget elementor-widget-heading"
          data-id="af1520f" data-element_type="widget" data-widget_type="heading.default">
          <div class="elementor-widget-container">
            <h1 style="font-size: 50px">Bird of Paradise Plant</h1>
          </div>
        </div>
        <div class="elementor-element elementor-element-b0a57a4 elementor-widget elementor-widget-text-editor"
          data-id="b0a57a4" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
            <style>
              /*! elementor - v3.12.2 - 23-04-2023 */
              .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                background-color: #69727d;
                color: #fff;
              }

              .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                color: #69727d;
                border: 3px solid;
                background-color: transparent;
              }

              .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                margin-top: 8px;
              }

              .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                width: 1em;
                height: 1em;
              }

              .elementor-widget-text-editor .elementor-drop-cap {
                float: left;
                text-align: center;
                line-height: 1;
                font-size: 50px;
              }

              .elementor-widget-text-editor .elementor-drop-cap-letter {
                display: inline-block;
              }
            </style>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
              mattis nulla in mauris efficitur elementum.
            </p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-dac1ef9 elementor-widget__width-auto elementor-widget-tablet__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-shortcode"
          data-id="dac1ef9" data-element_type="widget" data-widget_type="shortcode.default">
          <div class="elementor-widget-container">
            <div class="elementor-shortcode">
              <p class="product woocommerce add_to_cart_inline" style="border: 4px solid #ccc; padding: 12px">
                <del aria-hidden="true"><span class="woocommerce-Price-amount amount"><bdi><span
                        class="woocommerce-Price-currencySymbol">$</span>65.00</bdi></span></del>
                <ins><span class="woocommerce-Price-amount amount"><bdi><span
                        class="woocommerce-Price-currencySymbol">$</span>50.00</bdi></span></ins><a
                  href="?add-to-cart=12" data-quantity="1"
                  class="button wp-element-button product_type_simple add_to_cart_button ajax_add_to_cart"
                  data-product_id="12" data-product_sku="" aria-label="Add “Bird of Paradise Plant” to your cart"
                  rel="nofollow">Add to cart</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-86119f3"
      data-id="86119f3" data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-7e488f6 elementor-widget elementor-widget-image"
          data-id="7e488f6" data-element_type="widget" data-widget_type="image.default">
          <div class="elementor-widget-container">
            <style>
              /*! elementor - v3.12.2 - 23-04-2023 */
              .elementor-widget-image {
                text-align: center;
              }

              .elementor-widget-image a {
                display: inline-block;
              }

              .elementor-widget-image a img[src$=".svg"] {
                width: 48px;
              }

              .elementor-widget-image img {
                vertical-align: middle;
                display: inline-block;
              }
            </style>
            <a >
              <img decoding="async" width="670" height="713"
                src="https://websitedemos.net/egrow-plants-04/wp-content/uploads/sites/1114/2022/12/hero.png"
                class="attachment-full size-full wp-image-562" alt="" loading="lazy" srcset="
                  https://websitedemos.net/egrow-plants-04/wp-content/uploads/sites/1114/2022/12/hero.png         670w,
                  https://websitedemos.net/egrow-plants-04/wp-content/uploads/sites/1114/2022/12/hero-282x300.png 282w,
                  https://websitedemos.net/egrow-plants-04/wp-content/uploads/sites/1114/2022/12/hero-300x319.png 300w,
                  https://websitedemos.net/egrow-plants-04/wp-content/uploads/sites/1114/2022/12/hero-600x639.png 600w,
                  https://websitedemos.net/egrow-plants-04/wp-content/uploads/sites/1114/2022/12/hero-400x426.png 400w
                " sizes="(max-width: 670px) 100vw, 670px" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<ng-container *ngIf="!loadindSpinner">
  <app-header></app-header>
  <section class="htc__product__area ptb--130 bg__white">
    <div class="container">
      <div class="htc__product__container">
        <!-- Start Product MEnu -->
        <div class="row">
          <div class="col-md-12">
            <div class="product__menu" style="cursor: pointer;">
              <button #b0 (click)="onChangeProductList('',b0)">
                all
              </button>
              <button class=" a" #b1 (click)="onChangeProductList('plant', b1)">
                plants
              </button>
              <button #b2 (click)="onChangeProductList('Pots', b2)">pots</button>
              <button #b3 (click)="onChangeProductList('tools', b3)">
                tools
              </button>
              <button #b4 (click)="onChangeProductList('seeds', b4)">
                seeds
              </button>
              <button #b5 (click)="onChangeProductList('flowers', b5)">
                flowers
              </button>
            </div>
          </div>
        </div>
        <div class="row product__list">
          <!-- Start Single Product -->
          <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12" *ngFor="let product of productApiData;let i=index">
            <div class="product foo" *ngIf="i<8">
              <div class="product__inner">
                <div class="pro__thumb">
                  <a>
                    <img routerLink="/product-detail/{{ i }}" style="cursor: pointer; height: 330px !important; border-radius: 12px;"
                      [src]="product.productImage"
                      alt="product images" />
                  </a>
                </div>
                <div class="product__hover__info">
                  <ul class="product__action">
                    <li>
                      <a data-toggle="modal" data-target="#productModal" title="Quick View"
                        class="quick-view modal-view detail-link" style="cursor: pointer;" routerLink="/product-detail/{{ i }}"><span class="ti-plus"></span></a>
                        <a *ngIf="localstorageLoginData.userType === 'Admin'" (click)="onProductEdit(product)" title="edit-product" style="cursor: pointer;"><span class="ti-pencil"></span></a>
                    </li>
                    <li>
                      <a title="Add TO Cart" style="cursor: pointer;" (click)="onCart(product)"><span class="ti-shopping-cart"></span></a>
                      <a *ngIf="localstorageLoginData.userType === 'Admin'" (click)="onDeleteProduct(product)" title="delete-product" style="cursor: pointer;"><span class="ti-na"></span></a>
                    </li>
                  </ul>
                </div>
                <div class="add__to__wishlist">
                  <!-- <a data-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" ><span
                      class="ti-heart"></span></a> -->
                      
                </div>
              </div>
              <div class="product__details">
                <h2 class="product-name">
                  <a >{{ product.productName }}</a>
                </h2>
                <ul class="product__price">
                  <!-- <li class="old__price">$16.00</li> -->
                  <li class="new__price">₹{{ product.productPrice }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="feature" class="section-p1">
    <div class="fe-box">
      <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
      <!-- <img src="cf357a5c932ab2142e623.png?compress=1&resize=400x300&vertical=top" alt=""> -->
      <h6>Online Order</h6>
    </div>
    <div class="fe-box">
      <!-- <img src="img/features/f3.png" alt=""> -->
      <h6>Save Money</h6>
    </div>
    <div class="fe-box">
      <!-- <img src="img/features/f4.png" alt=""> -->
      <h6>Promotions</h6>
    </div>
    <div class="fe-box">
      <!-- <img src="img/features/f5.png" alt=""> -->
      <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
      <!-- <img src="img/features/f6.png" alt=""> -->
      <h6>f24/7</h6>
    </div>
  </section>
  
  <section class="htc__product__area ptb--13 bg__white">
    <div class="container">
      <div class="htc__product__container">
  <div class="row product__list">
    <!-- Start Single Product -->
    <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12" *ngFor="let product of productApiData;let i=index">
      <div class="product foo" *ngIf="i>=8 && i<16">
        <div class="product__inner">
          <div class="pro__thumb">
            <a>
              <img routerLink="/product-detail/{{ i }}" style="cursor: pointer; height: 330px !important; border-radius: 12px;"
              [src]="product.productImage"
              alt="product images" />
            </a>
          </div>
          <div class="product__hover__info">
            <ul class="product__action">
              <li>
                <a data-toggle="modal" data-target="#productModal" title="Quick View"
                  class="quick-view modal-view detail-link" style="cursor: pointer;" routerLink="/product-detail/{{ i }}"><span class="ti-plus"></span></a>
                  <a *ngIf="localstorageLoginData.userType === 'Admin'" (click)="onProductEdit(product)" title="edit-product" style="cursor: pointer;"><span class="ti-pencil"></span></a>
              </li>
              <li>
                <a title="Add TO Cart" style="cursor: pointer;" (click)="onCart(product)"><span class="ti-shopping-cart"></span></a>
                <a *ngIf="localstorageLoginData.userType === 'Admin'" (click)="onDeleteProduct(product)" title="delete-product" style="cursor: pointer;"><span class="ti-na"></span></a>
              </li>
            </ul>
          </div>
          <div class="add__to__wishlist">
            <a data-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" ><span
                class="ti-heart"></span></a>
          </div>
        </div>
        <div class="product__details">
          <h2 class="product-name">
            <a >{{ product.productName }}</a>
          </h2>
          <ul class="product__price">
            <!-- <li class="old__price">$16.00</li> -->
            <li class="new__price">₹{{ product.productPrice }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </section>
  
  <section
    class="leave-and-collection elementor-section elementor-top-section elementor-element elementor-element-1d2289e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="1d2289e" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-row">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a809201"
          data-id="a809201" data-element_type="column">
          <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
              <div class="elementor-element elementor-element-e71f37e elementor-widget elementor-widget-image"
                data-id="e71f37e" data-element_type="widget" data-widget_type="image.default">
                <div class="elementor-widget-container">
                  <div class="elementor-image">
  
                    <img decoding="async" width="209" height="90"
                      src="https://websitedemos.net/organic-shop-02/wp-content/uploads/sites/465/2021/03/basil-leaf.png"
                      class="attachment-full size-full wp-image-4204" alt="" loading="lazy">                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="collections">
    <section
    class=" elementor-section elementor-top-section elementor-element elementor-element-5370a06 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="5370a06" data-element_type="section">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-row">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9e2351a"
          data-id="9e2351a" data-element_type="column"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
              <div
                class="elementor-element elementor-element-deb0422 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                data-id="deb0422" data-element_type="widget" data-widget_type="image-box.default">
                <div class="elementor-widget-container">
                  <div class="elementor-image-box-wrapper">
                    <div class="elementor-image-box-content">
                      <h4 class="elementor-image-box-title">Beautiful Plant Varieties</h4>
                      <p class="elementor-image-box-description">A symphony of colors and forms, beautiful plant varieties paint the world with nature's brushstrokes.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-da7ff13 elementor-widget elementor-widget-button"
                data-id="da7ff13" data-element_type="widget" data-widget_type="button.default">
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a  class="elementor-button-link elementor-button elementor-size-sm" role="button">
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">See Collection</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0b6e081"
          data-id="0b6e081" data-element_type="column"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
              <div
                class="elementor-element elementor-element-5d64031 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                data-id="5d64031" data-element_type="widget" data-widget_type="image-box.default">
                <div class="elementor-widget-container">
                  <div class="elementor-image-box-wrapper">
                    <div class="elementor-image-box-content">
                      <h4 class="elementor-image-box-title">Trendy Pots Varieties</h4>
                      <p class="elementor-image-box-description">At The Greenery, indulge in a curated collection of trendy pots varieties.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-2363cee elementor-widget elementor-widget-button"
                data-id="2363cee" data-element_type="widget" data-widget_type="button.default">
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a  class="elementor-button-link elementor-button elementor-size-sm" role="button">
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">See Collection</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-eca0892"
          data-id="eca0892" data-element_type="column"
          data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
              <div
                class="elementor-element elementor-element-6217a15 elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                data-id="6217a15" data-element_type="widget" data-widget_type="image-box.default">
                <div class="elementor-widget-container">
                  <div class="elementor-image-box-wrapper">
                    <div class="elementor-image-box-content">
                      <h4 class="elementor-image-box-title">Gardening Accessories</h4>
                      <p class="elementor-image-box-description">Explore an abundant array of top-quality gardening tools at our shop
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-f63aaef elementor-widget elementor-widget-button"
                data-id="f63aaef" data-element_type="widget" data-widget_type="button.default">
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a  class="elementor-button-link elementor-button elementor-size-sm" role="button">
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">Visit the store</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  
  
  
  
  
  <section class="htc__product__area ptb--13 bg__white">
    <div class="container">
      <div class="htc__product__container">
  <div class="row product__list">
    <!-- Start Single Product -->
    <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12" *ngFor="let product of productApiData;let i=index">
      <div class="product foo" *ngIf="i>=16 && i<32">
        <div class="product__inner">
          <div class="pro__thumb">
            <a>
              <img routerLink="/product-detail/{{ i }}" style="cursor: pointer; height: 330px !important; border-radius: 12px;"
              [src]="product.productImage"
              alt="product images" />
            </a>
          </div>
          <div class="product__hover__info">
            <ul class="product__action">
              <li>
                <a data-toggle="modal" data-target="#productModal" title="Quick View"
                  class="quick-view modal-view detail-link" style="cursor: pointer;" routerLink="/product-detail/{{ i }}"><span class="ti-plus"></span></a>
                  <a *ngIf="localstorageLoginData.userType === 'Admin'" (click)="onProductEdit(product)" title="Edit-product" style="cursor: pointer;"><span class="ti-pencil"></span></a>
              </li>
              <li>
                <a title="Add TO Cart" style="cursor: pointer;" (click)="onCart(product)"><span class="ti-shopping-cart"></span></a>
                <a *ngIf="localstorageLoginData.userType === 'Admin'" (click)="onDeleteProduct(product)" title="delete-product" style="cursor: pointer;"><span class="ti-na"></span></a>
              </li>
            </ul>
          </div>
          <div class="add__to__wishlist">
            <a data-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" ><span
                class="ti-heart"></span></a>
          </div>
        </div>
        <div class="product__details">
          <h2 class="product-name">
            <a >{{ product.productName }}</a>
          </h2>
          <ul class="product__price">
            <!-- <li class="old__price">$16.00</li> -->
            <li class="new__price">₹{{ product.productPrice }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </section>
</ng-container>
