<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a  class="dropdown-toggle">Home</a>
                <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a >Home 1</a>
                    </li>
                    <li>
                        <a >Home 2</a>
                    </li>
                    <li>
                        <a >Home 3</a>
                    </li>
                </ul> -->
            </li>
            <li>
                <a >About</a>
            </li>
            <li>
                <a  class="dropdown-toggle">Pages</a>
            </li>
            <li>
                <a >Portfolio</a>
            </li>
            <li>
                <a >Contact</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <h2>asd</h2>
    </div>
</div>