<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(../../../../assets/images/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Product Details</h2>
                        <nav class="bradcaump-inner">
                          <a class="breadcrumb-item" routerLink="/dashboard">Home</a>
                          <span class="brd-separetor">/</span>
                          <span class="breadcrumb-item active">Product Details</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="py-5 main-product-detail" >
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 abhi">
                <div class="multiple-img-panel">
                    <img class="img-list" (click)="onChangeImage(item)" [src]="item" alt="" *ngFor="let item of productDetail?.productImage">
                </div>
                <div>
                    <img class="card-img-top mb-5 mb-md-0" style="     width: 700px !important; 
                     height: 550px !important;" [src]="productImage" alt="..."
                    />
                </div>
            </div>
            <div class="col-md-6">  
                <h1 class="display-5 fw-bolder">{{ productDetail?.productName }}</h1>
                <div class="price">
                    ₹ <span>{{ productDetail?.productPrice }}</span>
                </div>
                <div class="bioName">
                    <p>BotanicalName-{{ productDetail?.productBotanicalName }}</p>
                </div>
                <div class="guarantees-main">
                    <div class="guarantees-inner">
                        <img
                            src="//cdn.shopify.com/s/files/1/0579/7924/0580/files/shipping_25798584-6184-42f8-b1d1-d9728a83ef84.png?v=1676873379" />
                        <span>Free Shipping above ₹999</span>
                    </div>
                    <div class="guarantees-inner">
                        <img src="//cdn.shopify.com/s/files/1/0579/7924/0580/files/GuaranteedReturn.png?v=1676873444" />
                        <span>Guaranteed Replacements if Damaged</span>
                    </div>
                    <div class="guarantees-inner">
                        <img src="//cdn.shopify.com/s/files/1/0579/7924/0580/files/expertguidence.png?v=1676873472" />
                        <span>Expert Guidance</span>
                    </div>
                </div>
                <!-- <p class="lead">
                   {{productDetail?.productDescription }}
                </p> -->
                <div class="product-action-wrap">
                    <div class="prodict-statas"><span style="font-size: x-large;">Quantity :</span></div>
                    <div class="product-quantity">
                        <form id='myform' method='POST' action='#'>
                            <div class="product-quantity">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" id="inputQuantity" type="number" [value]="productQuantity"
                                     #productQua disabled>
                                    <div class="inc qtybutton" (click)="onplus(productQua.value)" >+</div>
                                    <div class="dec qtybutton" (click)="onMinus(productQua.value)" style="font-size: x-large;">-</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="pro__dtl__btn">
                    <li class="buy__now__btn" (click)="AddToCart(productQua.value)"><a >buy now</a></li>
                    <li><a ><span class="ti-heart"></span></a></li>
                    <li><a ><span class="ti-email"></span></a></li>
                </ul>
                <!-- <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" #productQua/>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="AddToCart(productQua.value)">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div id="shopify-section-template--15489845985412__1657004486680b12e2" class="shopify-section">
        <div class="product-pagerich-text text-center">
            <div class="page-width">
                <h2 class="title h2">About the Product</h2>
                <p></p>
                <p>
                    <span class="metafield-multi_line_text_field">
                       {{productDetail?.productDescription}}</span>
                </p>
                <p></p>
            </div>
        </div>
    </div> -->
</section>


<section class="htc__product__details__tab bg__white pb--120">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <ul class="nav product__deatils__tab mb--60" role="tablist">
                    <li role="presentation" class="active">
                        <a class="active" href="#description" role="tab" data-toggle="tab">Description</a>
                    </li>
                    <li role="presentation">
                        <a href="#reviews" role="tab" data-toggle="tab">Reviews</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product__details__tab__content">
                    <!-- Start Single Content -->
                    <div role="tabpanel" id="description" class="product__tab__content active">
                        <div class="product__description__wrap">
                            <div class="product__desc">
                                <h2 class="title__6">Details</h2>
                                <p>{{productDetail?.productDescription}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Content -->
                    <!-- Start Single Content -->

                    <!-- End Single Content -->
                    <!-- Start Single Content -->
                    <div role="tabpanel" id="reviews" class="product__tab__content">
                        <div class="review__address__inner">
                            <!-- Start Single Review -->
                            <div class="pro__review">
                                <div class="review__thumb">
                                    <!-- <img src="images/review/1.jpg" alt="review images"> -->
                                </div>
                                <div class="review__details">
                                    <div class="review__info">
                                        <h4><a >Gerald Barnes</a></h4>
                                        <ul class="rating">
                                            <li><i class="zmdi zmdi-star"></i></li>
                                            <li><i class="zmdi zmdi-star"></i></li>
                                            <li><i class="zmdi zmdi-star"></i></li>
                                            <li><i class="zmdi zmdi-star-half"></i></li>
                                            <li><i class="zmdi zmdi-star-half"></i></li>
                                        </ul>
                                        <div class="rating__send">
                                            <a ><i class="zmdi zmdi-mail-reply"></i></a>
                                            <a ><i class="zmdi zmdi-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="review__date">
                                        <span>27 Jun, 2016 at 2:30pm</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                                </div>
                            </div>
                            <!-- End Single Review -->
                            <!-- Start Single Review -->
                            <div class="pro__review ans">
                                <div class="review__thumb">
                                    <!-- <img src="images/review/2.jpg" alt="review images"> -->
                                </div>
                                <div class="review__details">
                                    <div class="review__info">
                                        <h4><a >Gerald Barnes</a></h4>
                                        <ul class="rating">
                                            <li><i class="zmdi zmdi-star"></i></li>
                                            <li><i class="zmdi zmdi-star"></i></li>
                                            <li><i class="zmdi zmdi-star"></i></li>
                                            <li><i class="zmdi zmdi-star-half"></i></li>
                                            <li><i class="zmdi zmdi-star-half"></i></li>
                                        </ul>
                                        <div class="rating__send">
                                            <a ><i class="zmdi zmdi-mail-reply"></i></a>
                                            <a ><i class="zmdi zmdi-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="review__date">
                                        <span>27 Jun, 2016 at 2:30pm</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                                </div>
                            </div>
                            <!-- End Single Review -->
                        </div>
                        <!-- Start RAting Area -->
                        <div class="rating__wrap">
                            <h2 class="rating-title">Write  A review</h2>
                            <h4 class="rating-title-2">Your Rating</h4>
                            <div class="rating__list">
                                <!-- Start Single List -->
                                <ul class="rating">
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                </ul>
                                <!-- End Single List -->
                                <!-- Start Single List -->
                                <ul class="rating">
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                </ul>
                                <!-- End Single List -->
                                <!-- Start Single List -->
                                <ul class="rating">
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                </ul>
                                <!-- End Single List -->
                                <!-- Start Single List -->
                                <ul class="rating">
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                </ul>
                                <!-- End Single List -->
                                <!-- Start Single List -->
                                <ul class="rating">
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                    <li><i class="zmdi zmdi-star-half"></i></li>
                                </ul>
                                <!-- End Single List -->
                            </div>
                        </div>
                        <!-- End RAting Area -->
                        <div class="review__box">
                            <form id="review-form">
                                <div class="single-review-form">
                                    <div class="review-box name">
                                        <input type="text" placeholder="Type your name">
                                        <input type="email" placeholder="Type your email">
                                    </div>
                                </div>
                                <div class="single-review-form">
                                    <div class="review-box message">
                                        <textarea placeholder="Write your review"></textarea>
                                    </div>
                                </div>
                                <div class="review-btn">
                                    <a class="fv-btn" >submit review</a>
                                </div>
                            </form>                                
                        </div>
                    </div>
                    <!-- End Single Content -->
                </div>
            </div>
        </div>
    </div>
</section>


